body{
    min-width: 320px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

img{
    max-width: 100%;
    height: auto;
}

#list-menu a{
    color: #5796FF;
}
#list-menu a:hover{
    color: #4276CD;
}

header .navbar-dark{
    background-color: #23273B;
}
header .navbar-brand{
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
}
header .nav-item{
    text-transform: uppercase;
    margin-left: 20px;
}
header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #8BAECF;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
}
header .nav-item a:hover::after{
    transform: scale(1);
}

a{
    color: #b4ad9e;
}
a:hover{
    color: #898377;
}

p{
    line-height: 1.5rem;
}
h2,h3{
    margin: 1rem 0;
    font-size: 30px;
}

.post-category,
.link-more{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #5796FF;
    text-transform: uppercase;
    font-weight: 400;
}
.post-title a{
    color: #626262;
}

.slider{
    margin-bottom: 50px;
}

.grid-posts{
    margin-top: 100px;
    margin-bottom: 100px;
}
.grid-posts .card{
    border: 0;
    margin-bottom: 100px;
}

.grid-posts .card-body{
    padding-left: 0;
    padding-right: 0;
}

.grid-posts .card-img-top{
    max-height: 350px;
    border-radius: 0;
}

.load-more{
    padding: 1rem 2rem;
    border-color: #5796FF;
    border-radius: 0;
}
.load-more span{
    display: none;
}


.signup{
    background-color: #f0f0f0;
    padding: 70px 0;
}
.signup h3{
    color: #333;
}
.signup form{
    margin-top: 70px;
}
.signup .form-input{
    position: relative;
}
.signup .form-control{
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
}
.signup .form-control:focus{
    box-shadow: none;
}
.form-input .btn{
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 25px;
}

footer{
    background-color: #23273B;
    padding: 40px 0;
    color: #b4ad9e;
}
.footer-left a{
    color: #b4ad9e;
    margin-right: 20px;
}
.footer-right a{
    color: #626262;
    margin-left: 20px;
}








/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1199px) {
    .grid-posts .card-img-top{
        max-height: 300px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 991px) {
    .grid-posts{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .grid-posts .card{
        margin-bottom: 50px;
    }
    .grid-posts .card-img-top{
        max-height: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 767px) {
    .grid-posts{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .grid-posts .card{
        margin-bottom: 50px;
    }
    .grid-posts .card-img-top{
        max-height: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .footer-left{
        margin-bottom: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}