<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="img/thumb1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="post-category">Cars</h3>
            <h5 class="post-title">Post 1</h5>
            <p class="card-text">Стоп сигналы такого вида устанавливались на Toyota Sprinter Trueno AE111 в рестайлинг версии с 1997 по 2000 года.</p>
            <a href="#" class="btn btn-primary">Перейти к посту</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="img/thumb2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="post-category">Cars</h3>
            <h5 class="post-title">Post 2</h5>
            <p class="card-text">Такая губа на передний бампер производилась в Японии в тюнинг ателье и имела две вариации для установки на Trueno и Levin бампера.</p>
            <a href="#" class="btn btn-primary">Перейти к посту</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="img/thumb3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="post-category">Tuning</h3>
            <h5 class="post-title">Post 3</h5>
            <p class="card-text">Этой зимой было достаточно холодно.</p>
            <a href="#" class="btn btn-primary">Перейти к посту</a>
        </div>
    </div>
</div>